.header {
    display: flex;
    padding: 0 36px;
    background-color: #ffffff;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    max-height: 100px;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
}